# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/
myenv/
*.egg-info/

# Ignore data files
data/
*.csv
*.h5
*.pkl

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment variable files
.env

# Ignore logs
*.log

# Ignore IDE config files
.idea/
*.sublime-workspace
*.sublime-project
